<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
            <allow verbs="POST" users="peter22" roles="organizer" />
        </authorization>
    </system.web>
</configuration>