<?xml version="1.0" encoding="utf-8"?>
 <configuration>
     <system.web>
         <identity impersonate="false" />
         <authorization>
             <deny users="?" />
             <allow users="organizer" />      
         </authorization>
     </system.web>
     <system.webServer>
         <security>
             <authorization>
                 <add accessType="Allow" users="organizer"   />
             </authorization>           
         </security>
     </system.webServer>
 </configuration>